* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

aside {
  background-color: #fff;
  height: 100vh;
  width: 20%;
}

nav {
  border-bottom: solid 1px #bec1bb;
  display: flex;
  justify-content: space-around;
}

.usercard {
  padding: 20px;
  display: flex;
  align-items: center;
}

.nav-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding-right: 10px;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
} 

.nav-name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.status p {
  color: #bec1bb;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.nav-icons i {
  color: #828485;
  font-size: 20px;
  padding: 8px;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-bottom: solid 1px #bec1bb;
}

button {
  background-color: #a491d2;
  color: #fff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #cdc3e6;
  color: #fff;
}

button:focus {
  background-color: #bec1bb;
  color: #fff;
}

section {
  background-color: #e8ebe4;
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hand {
  height: 12rem;
  width: 12rem;
  padding: 20px;
}

.chat-screen h1 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
}

.text {
  height: 10rem;
  width: 30rem;
}

.text p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
